
.App {
  text-align: center;

 
  background-color: #696c72;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding: 20px;
  
}



.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

* {
  box-sizing: border-box;
}
.movie-liste{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
}
.movie-card {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}
.add-btn{
  background-color: crimson;
   font-size: 30px;
   padding: 20px;
   margin: 0 10px 30px 10px;
 
 }
 input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #282c34;
  color: rgb(236, 223, 206);
}
 input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}
.watch-btn {
  display: block;
  border: 1px solid #fe4141;
  border-radius: 5px;
  padding: 0px;
  width: 100px;
  cursor: pointer;
}
.watch-btn:hover{
  background-color: #fe4141;

}
.watch-btn:hover h3{
  color: #e7e7e7;
}
.action-row {
  margin-top: -15px;
}
.summary-row {
  margin-top: 12px;
}
.summary-row p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e78a;
  text-align: justify;
  line-height: 1.8;
}
/* TYPOGRAPHY ENDS */

/** GRID STARTS **/

.thegrid {
  margin: 0 auto;
}

.elements-distance {
  margin: 0px;
}

.mr-grid {
  width: 100%;
}
.mr-grid:before,
.mr-grid:after {
  content: '';
  display: table;
}
.mr-grid:after {
  clear: both;
}
.mr-grid {
  *zoom: 1;
}